html, body {
  background-color: rgb(31, 255, 31);
  color: rgb(0, 0, 195);
}

h1 {
  text-decoration-line: overline;
  text-decoration-color: red;
}


h1 {
  background-color: black;
  color: rgb(255, 0, 0);
}