@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Libre+Baskerville&family=Orbitron:wght@500&display=swap');

html,
body {
  background-color: rgb(31, 255, 31);
  color: rgb(0, 0, 195);
  font-size: 75px;
  font-family: 'Exo 2';
  text-align: center;
}

h1 {
  text-decoration-line: overline;
  text-decoration-color: rgb(255, 242, 0);
  font-family: "Libre Baskerville",serif; 
  font-size: 100px;
  width: 70%;
  margin: auto;
  background-color: black;
  color: rgb(255, 0, 0);
}


body {
  font-family: "Orbitron"; 
  font-size: 50px;
  height: 100%;
  width: 70%;
  margin:auto;
  background-color: rgb(0, 0, 0);
}

figure {
  width: 70%;
  }
  
#greetings{
 display: block;

}
h2 {
  color: yellow;
  font-family: "Exo 2";
  font-size: 100px;
  font-stretch: condensed;
  font-style: italic;
}

img {
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

p {
  padding: 5%;
  font-size: 100px;
  /* span: .font 2px; */
  font-family: 'Orbitron';
  width:70%;
  margin:auto;
  font-stretch: condensed; 
}

figcaption {
  background-color: inherit;
  font-size: 2vw;
}